@import url('https://fonts.googleapis.com/css?family=Poppins:700');

@font-face {
  font-family: 'Star Jedi Special';
  src: url('STJEDISE.ttf') format('truetype');    
}

/* navigation bar */
.navigationbar {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  padding-left: 25px;
  padding-top: 10px;
}

#leftnav {
  float: left;
}

#leftnav a {
  color: white !important;
  text-decoration: none !important;
  padding-right: 15px;
}

#leftnav a:hover {
  color: #ffc220;
}

#rightnav {
  float: right;
}

#rightnav a {
  color: #ffc220;
  text-decoration: none !important;
  padding-right: 15px;
}

#rightnav a:hover {
  color: white !important;
}

/* body */
body {
  background-image: url('https://images.unsplash.com/photo-1535007726788-fed8106a64cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8M3x8fGVufDB8fHx8&w=1000&q=80');
  /* background-image: url('https://c0.wallpaperflare.com/preview/345/432/905/astronomy-constellation-dark-galaxy.jpg'); */
  overflow-x: hidden;
  position: relative;
}

/* top section */
.cart {
  color: white;
  font-family: 'Star Jedi Special', sans-serif  !important;
  text-align: left !important;
  padding-left: 50px !important;
  padding-bottom: 0px !important;
}

#maintitle {
  font-size: 50px !important;
  padding-top: 100px !important;
}

#subtitle {
  font-size: 40px !important;
}

.stage {
  display: flex;
  float: left;
}

.box {
  align-self: flex-end;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@keyframes bounce-1 {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-20px);
  }

  100% {
      transform: translateY(0);
  }
}

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center !important;
}

/* how it works section */
.card {
  text-align: center;
  height: 285px;
  width: 15% !important;
  margin: 15px;
}

.cardnum {
  position: absolute;
  left: 20px;
}

.hiwicon {
  height: 50px !important;
  width: 50px !important;
}

.readmore {
  color: white !important;
  background-color: #007dc6 !important;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 30px !important;
  
}

.readmore:hover {
  color: white !important;
  background-color: #c0daed !important;
}

/* sustainability section */
.sustainabilitysection {
  color: white;
  text-align: center;
}

/* touchscreen demo section */
.sidebar {
  float: left;
  position: relative;
  height: 100%;
  width: 0;
  top: 0;
  left: 25;
  overflow-x: hidden;
  padding-top: 25px;
  transition: 0.5s;
}

.sidebar .closebtn {
  font-size: 36px;
  position: absolute;
  top: 0;
}

.grocerylistbtn {
  color: white !important;
  font-size: 20px !important;
  background-color: #004c91 !important;
  padding: 10px 15px;
  border: none;
  border-radius: 0% !important;
}

#touchscreencontent {
  transition: margin-left .5s;
}

.touchscreen {
  /* float: left;  */
  margin-left: 8%; 
  width: 82%;
  height: 550px;
  overflow-y: scroll;
}

#productimg {
  width: 100px;
}

/* footer */
footer {
  background-color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
  padding: 25px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.icon {
  height: 20px !important;
  width: 20px !important;
  margin-right: 20px;
}

.guest {
  color: white !important;
  background-color: #c0daed !important;
  font-family: 'Poppins', sans-serif !important;
  border-radius: 30px !important;
}

.guest:hover {
  color: white !important;
  background-color: #007dc6 !important;
}

.accordion-header {
  font-family: 'Poppins', sans-serif !important;
}

.accordion-item {
  color: white !important;
  background-color: black !important;
}